@using MeshWeaver.Mesh
<FluentAutocomplete @ref="searchAutocomplete"
                    TOption="MeshNode"
                    Width="250px"
                    AutoComplete="on"
                    Placeholder="Type / to search..."
                    MaximumSelectedOptions="1"
                    OptionText="@(item => item.Name)"
                    @bind-ValueText="@searchTerm"
                    @bind-SelectedOptions="selectedOptions"
                    @bind-SelectedOptions:after="HandleSearchClicked"
                    OnOptionsSearch="@HandleSearchInputAsync"
                    ShowOverlayOnEmptyResults="false"
                    @onkeydown="@HandleKeyDown">
    <OptionTemplate>
        <span slot="start">
            <img src="@context.Icon"/>
        </span>
        <h4>@context.Name</h4>
        @context.Description
    </OptionTemplate>
</FluentAutocomplete>
