@using MeshWeaver.ContentCollections

@inherits BlazorView<MeshWeaver.ContentCollections.ArticleControl, ArticleView>


<div class="article-container @(IsPresentationMode ? "presentation-mode" : "")">
    @switch (DisplayMode)
    {
        case ArticleDisplayMode.EditHeading:
            <AuthorizeView Roles="@Roles.PortalAdmin">
                <Authorized>
                    <ArticleHeaderEditor Model="@ArticleModel" DisplayModeChanged="ChangeDisplayMode" ></ArticleHeaderEditor>
                </Authorized>
            </AuthorizeView>
            break;
        default:
            <ArticleHeaderDisplay Model="@ArticleModel"
                                  DisplayModeChanged="ChangeDisplayMode"
                                  IsPresentationMode="@IsPresentationMode"
                                  OnTogglePresentationMode="TogglePresentationMode"></ArticleHeaderDisplay>
            break;
    }
</div>
<div class="article-content markdown-body @(IsPresentationMode ? "presentation-mode" : "")">
    <MarkdownView ViewModel="@MarkdownControl" />
</div>

