@using Microsoft.FluentUI.AspNetCore.Components
@using FluentAppearance = Microsoft.FluentUI.AspNetCore.Components.Appearance

<div class="side-panel">
    <div class="side-panel-header">
        <div class="side-panel-title-area">
            <FluentButton BackgroundColor="transparent" OnClick="OnNewThread" Title="New thread">
                <FluentIcon Value="@(new Icons.Regular.Size20.Add())" Color="Color.Neutral" />
            </FluentButton>
            <FluentButton BackgroundColor="transparent" OnClick="OnResumeThread" Title="Resume thread">
                <FluentIcon Value="@(new Icons.Regular.Size20.ArrowCounterclockwise())" Color="Color.Neutral" />
            </FluentButton>
            <h3 class="side-panel-title">@DisplayTitle</h3>
        </div>
        <div class="side-panel-actions">
            @ToolbarContent
            @if (HasThread)
            {
                <FluentButton BackgroundColor="transparent" OnClick="MoveToMainPanel" Title="Open in main panel">
                    <FluentIcon Value="@(new Icons.Regular.Size20.ArrowMaximize())" Color="Color.Neutral" />
                </FluentButton>
            }
            <FluentButton BackgroundColor="transparent" OnClick="CloseAsync" Title="Close">
                <FluentIcon Value="@(new Icons.Regular.Size20.Dismiss())" Color="Color.Neutral" />
            </FluentButton>
        </div>
    </div>
    <div class="side-panel-content">
        @ChildContent
    </div>
</div>
