@using System.Text.Json.Nodes
@using MeshWeaver.Layout.DataGrid
@inherits SkinnedView<DataGridControl, DataGridSkin, DataGridView>

<div style="display: table; table-layout: fixed; width: 100%;">
    <div style="overflow-x: auto;">
        <FluentDataGrid Items="@QueryableData" 
                        Virtualize="@Virtualize" 
                        ItemSize="@ItemSize" 
                        ResizableColumns="@ResizableColumns"
                        GenerateHeader="GenerateHeaderOption.Sticky"
                        Pagination="@Pagination"
                        Style="@Style">
            <DispatchView ViewModel="@ViewModel" Stream="@Stream" Area="@Area"  />
        </FluentDataGrid>
    </div>
</div>

<div class="paginator">
    @if (Pagination.TotalItemCount.HasValue && Pagination.TotalItemCount > Pagination.ItemsPerPage)
    {
        <FluentPaginator State="@Pagination"/>
    }
</div>

