<p>Rendering @Control</p>

@switch(Control){
    case null:
        //TODO Roland Bürgi 2024-05-27: Show spinner here? Encapsulate in task?
        break;
    case MenuItemControl menuItem:
        <MenuItem Control="@menuItem" />
        break;

    case LayoutAreaControl remoteView:
        <LayoutAreaView Control="@remoteView" Store="@Store" />
        break;
    
    case LayoutStackControl stack:
        <LayoutStack Control="@stack" Store="@Store" />
        break;
    
    case HtmlControl html:
        <div>@((MarkupString)html.Data.ToString())</div>
        break;

    default:
        <p>Unknown control: @Control.GetType().FullName. Please specify a view.</p>
        break;
}


@code{

    [Parameter]
    public UiControl Control { get; set; }
    [Parameter]
    public EntityStore Store { get; set; }
}
