@using OpenSmc.Data.Serialization
@inherits BlazorView<LayoutStackControl>
<div id ="@ViewModel.Id">
    @foreach(var (area,viewModel) in Areas){
        <p>Rendering area @area</p>
        <DispatchView ViewModel="@viewModel" Stream="@Stream" Area="@area"/>
    }
</div>


@code{


}
