@page "/app/{Application}/{Environment}/{Area}"
@inject NavigationManager navigationManager
@using OpenSmc.Application;
@using OpenSmc.Layout;
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.Extensions.Primitives

<PageTitle>@Application</PageTitle>

<CascadingValue Value="@BaseUrl" Name="BaseAppUrl">
    <h1>@Area</h1>
    <LayoutAreaView Address="@Address" Reference="@NavMenuReference"/>
    <LayoutAreaView Address="@Address" Reference="@Reference" />
</CascadingValue>

@code{
    [Parameter]
    public string Application { get; set; }
    [Parameter]
    public string Environment { get; set; }
    [Parameter]
    public string Area { get; set; }

    public Dictionary<string, StringValues> Options => 
        QueryHelpers.ParseQuery(navigationManager.ToAbsoluteUri(navigationManager.Uri).Query);

    private object Address => new ApplicationAddress(Application, Environment);

    private LayoutAreaReference Reference => new(Area)
    {
        Options = Options
    };

    private LayoutAreaReference NavMenuReference => new("NavigationMenu")
    {
        Options = Options
    };

    public string BaseUrl {
        get
        {
            var uri = navigationManager.ToAbsoluteUri(navigationManager.Uri);
            return new Uri(uri, ".").AbsolutePath;
        }
    }
}