@using MeshWeaver.Layout
@using MeshWeaver.Blazor
@using MeshWeaver.Blazor.Components
@using Microsoft.FluentUI.AspNetCore.Components
@using FluentAppearance = Microsoft.FluentUI.AspNetCore.Components.Appearance
@using FluentHorizontalAlignment = Microsoft.FluentUI.AspNetCore.Components.HorizontalAlignment
@inherits BlazorView<DialogControl, DialogView>

<FluentDialog @bind-Hidden="isHidden" Modal="true" OnDialogResult="HandleDialogResult" style="@GetDialogStyle()">
    <FluentDialogHeader>
        <FluentStack HorizontalAlignment="FluentHorizontalAlignment.Left">
            <FluentLabel Typography="Typography.PaneHeader">@Title</FluentLabel>
        </FluentStack>
    </FluentDialogHeader>
    <FluentDialogBody>
        @if (ViewModel.ContentArea is not null)
        {
            <div class="dialog-content-wrapper">
                <NamedAreaView Stream="@Stream" ViewModel="@ViewModel.ContentArea"
                    Area="@ViewModel.ContentArea.Area.ToString()" />
            </div>
        }
    </FluentDialogBody>
    @if (IsClosable)
    {
        <FluentDialogFooter>
            <FluentButton Appearance="FluentAppearance.Neutral" OnClick="HandleClose">
                Close
            </FluentButton>
        </FluentDialogFooter>
    }
</FluentDialog>
