@using Microsoft.AspNetCore.Components.Forms
@using Appearance = Microsoft.FluentUI.AspNetCore.Components.Appearance
@using Orientation = Microsoft.FluentUI.AspNetCore.Components.Orientation

<div class="file-browser">
    <!-- Breadcrumb Navigation -->
    <FluentBreadcrumb>
        <FluentBreadcrumbItem @onclick="NavigateToRoot">Root</FluentBreadcrumbItem>
        @foreach (var folder in CurrentPath.Split('/').Where(p => !string.IsNullOrEmpty(p)))
        {
            <FluentBreadcrumbItem @onclick="() => NavigateToBreadcrumb(folder)">@folder</FluentBreadcrumbItem>
        }
    </FluentBreadcrumb>
    <FluentToolbar Class="toolbar">
        <CollectionPicker CollectionChanged="CollectionChanged"></CollectionPicker>
        <FluentSpacer></FluentSpacer>
    </FluentToolbar>

    <!-- Folder and Files Display -->
    <div class="content-browser">
        <div class="folder-list">
            @foreach (var folder in Folders)
            {
                <div class="folder-item" @onclick="() => NavigateToFolder(folder)">
                    <FluentIcon Value="@(new Icons.Regular.Size20.Folder())" />
                    <span>@folder</span>
                </div>
            }
        </div>

        <div class="file-list">
            @foreach (var file in Files)
            {
                <div class="file-item" @onclick="() => SelectFile(file)">
                    <FluentIcon Value="@(new Icons.Regular.Size20.Document())" />
                    <span>@file</span>
                </div>
            }
        </div>
    </div>

    <!-- Actions -->
    <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="10">
        <FluentButton Appearance="Appearance.Outline"
                      @onclick="CreateFolderRequested"
                      IconStart="@(new Icons.Regular.Size20.FolderAdd())">
            Create Folder
        </FluentButton>

        <InputFile OnChange="HandleFileUpload" multiple />
    </FluentStack>
</div>

