@using MeshWeaver.Articles

<div class="file-browser">
    <!-- Toolbar with Separate Row for Breadcrumb Navigation -->
    <FluentToolbar Class="toolbar">
        <div class="toolbar-row">
            <FluentBreadcrumb>
                @{
                    var accumulatedPath = string.Empty;
                    <FluentBreadcrumbItem @onclick="NavigateToRoot">@Root</FluentBreadcrumbItem>
                    @foreach (var folder in CurrentPath.Split('/').Where(p => !string.IsNullOrEmpty(p)))
                    {
                        <FluentBreadcrumbItem @onclick="() => NavigateToBreadcrumb(accumulatedPath += '/' + folder)">@folder</FluentBreadcrumbItem>
                    }

                }
            </FluentBreadcrumb>
        </div>
        <div class="toolbar-row">
            <CollectionPicker CollectionChanged="CollectionChanged"></CollectionPicker>
            <FluentSpacer></FluentSpacer>
        </div>
    </FluentToolbar>

    <!-- Combined DataGrid for Folders and Files -->
    <FluentDataGrid Items="@CollectionItems.AsQueryable()"
                    TGridItem="CollectionItem"
                    ShowHover="true"
                    ResizableColumns="true"
                    OnRowClick="RowClicked">
        <SelectColumn TGridItem="CollectionItem"
                      SelectMode="DataGridSelectMode.Multiple"
                      SelectFromEntireRow="true"
                      @bind-SelectedItems="SelectedItems"
                      Selectable="@(item => item is FileItem)" />
        <TemplateColumn TGridItem="CollectionItem" Title="Name">
            <div class="grid-item">
                @if (context is FolderItem)
                {
                    <FluentIcon Value="@(new Icons.Filled.Size20.Folder())" />
                }
                else
                {
                    <FluentIcon Value="@(new Icons.Regular.Size20.Document())" />
                }
                <span>@context.Name</span>
            </div>
        </TemplateColumn>
        <TemplateColumn TGridItem="CollectionItem" Title="Details">
            @if (context is FolderItem folder)
            {
                <span>@folder.ItemCount items</span>
            }
            else if (context is FileItem file)
            {
                <span>Modified: @file.LastModified.ToString("yyyy-MM-dd HH:mm")</span>
            }
        </TemplateColumn>
    </FluentDataGrid>
</div>