@inherits BlazorView<LayoutAreaDefinitionControl, LayoutAreaDefinitionView>

@{
    var img = ViewModel.Definition.ThumbnailUrl ?? ViewModel.Definition.ImageUrl;
    var alt = $"Thumbnail for {ViewModel.Definition.Title}";
}
<a href="@ViewModel.Definition.Url" class="card text-decoration-none">
    <img src="@img" class="card-img-top" alt="@alt">
    <div class="card-body">
        <h5 class="card-title">@ViewModel.Definition.Title</h5>
        <p class="card-text">@ViewModel.Definition.Description</p>
        <span class="btn btn-primary">Go to Area</span>
    </div>
</a>
