@using MeshWeaver.Blazor.Components.Monaco
@using Microsoft.FluentUI.AspNetCore.Components

<div class="mesh-search-container">
    @if (BoundShowSearchBox)
    {
        <div class="mesh-search-box">
            <div class="mesh-search-box-inner">
                <div class="mesh-search-box-input">
                    <MonacoEditorView @ref="monacoEditor"
                                      Value="@_currentValue"
                                      ValueChanged="@OnValueChanged"
                                      OnSubmit="HandleSearch"
                                      Placeholder="@BoundPlaceholder"
                                      Height="38px"
                                      MaxHeight="38px"
                                      ShowBorder="true"
                                      CodeEditMode="false"
                                      AsyncCompletionCallback="@GetCompletionsAsync" />
                </div>
                <button type="button" class="mesh-search-button" @onclick="HandleSearch">
                    Search
                </button>
            </div>
        </div>
    }

    <div class="mesh-search-results">
        @if (_isLoading && !IsPrecomputedMode)
        {
            <FluentProgressRing />
        }
        else if (!HasResults())
        {
            <FluentLabel Typo="Microsoft.FluentUI.AspNetCore.Components.Typography.Body" Style="color: var(--neutral-foreground-hint);">No items found.</FluentLabel>
        }
        else
        {
            @RenderGroupedResults()
        }
    </div>
</div>
