@inherits BlazorView<NamedAreaControl, NamedAreaView>
@using HorizontalAlignment = Microsoft.FluentUI.AspNetCore.Components.HorizontalAlignment
@using Orientation = Microsoft.FluentUI.AspNetCore.Components.Orientation
@using VerticalAlignment = Microsoft.FluentUI.AspNetCore.Components.VerticalAlignment

@if (PageTitle is not null)
{
    <PageTitle>@PageTitle</PageTitle>
}

@if (MetaAttributes is not null)
{
    <HeadContent>
        @foreach (var kvp in @MetaAttributes)
        {
            <meta name="@kvp.Key" content="@kvp.Value" />
        }
    </HeadContent>
}

@if (ShowProgress && RootControl == null)
{
    <FluentStack HorizontalAlignment="HorizontalAlignment.Center" VerticalAlignment="VerticalAlignment.Center"
        Orientation="Orientation.Vertical">
        <h3>@ProgressMessage</h3>
        <FluentProgressRing style="width: 102px; height: 102px;" />
    </FluentStack>
}
@if (@RootControl != null)
{
    <DispatchView ViewModel="@RootControl" Stream="@Stream" Area="@Area" />

    @* Signal for thumbnail generator when LayoutAreas catalog has loaded *@
    @if (Area.ToString() == "LayoutAreas")
    {
        <script>
            // Signal that the LayoutAreas catalog has finished loading
            document.body.setAttribute('data-catalog-loaded', 'true');
            console.log('LayoutAreas catalog content loaded via SignalR');
        </script>
    }
}
