@inherits SkinnedView<PropertySkin, PropertyView>

<dt>
    <label for="@Skin.Name">@Name</label>
</dt>
<dd>
    @if (!string.IsNullOrWhiteSpace(Description))
    {
        <p>
            @((MarkupString)(Description))
        </p>
    }
    <DispatchView ViewModel="@ViewModel" Area="@Area" Stream="@Stream"/>
</dd>


@code
{
    private string Name;
    private string Description;
    protected override void BindData()
    {
        base.BindData();
        DataBind(Skin.Label, x => x.Name);
        DataBind(Skin.Description, x => x.Description);
    }
}
